.link-container {
  width: fit-content;
}

.logoBtn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #3DDC84;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
}

.logoBtn:focus {
  outline: none;
  filter: drop-shadow(0 0 10px #FFFF)

}

.logoBtn__logo {
  transition: transform 0.2s ease-in;
}

.logoBtn:hover {
  background-color: #57f59e;
}

.logoBtn:hover .logoBtn__logo {
  transform: scale(1.1);
}
