.about-project {
  background-color: #202020;
  padding: 110px 70px 141px 70px;
}

.stages {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 550px));
  gap: 40px;
  max-width: 1140px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
}

.item__description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-top: 22px;
}

.progressBar {
  margin-top: 93px;
  display: grid;
  width: 100%;
  background-color: #303030;
  grid-template-columns: 1fr 4fr;
}

.progressBar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 36px;
}

.progressBar__item_first {
  background-color: #3DDC84;
}

.progressBar__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.progressBar__text_black {
  color: black;
}

.progressBar__caption {
  margin: 0;
  position: absolute;
  top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px 121px 50px;
  }
  .progressBar {
    grid-template-columns: 1fr 3.7fr;
  }
  .stages {
    gap: 30px;
  }
}


@media screen and (max-width: 520px) {
  .about-project {
    padding: 70px 18px 93px 18px;
  }
  .stages {
    grid-template-columns: auto;
    gap: 56px;
  }
  .item__heading {
    font-size: 18px;
    line-height: 22px;
  }
  .item__description {
    font-size: 11px;
    line-height: 16px;
  }
  .progressBar {
    grid-template-columns: 1fr 1.84fr;
  }

  .progressBar__item {
    height: 35px;
  }
  .progressBar__text {
    font-size: 11px;
    line-height: 13px;
  }
  .progressBar__caption {
    font-size: 11px;
    line-height: 13px;
  }
}
