@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/Inter-Web/inter.css);

.page {
  background-color: #202020;
  font-family: 'Inter', 'Courier New', Courier, monospace;
  color: white;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
