.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__link {
  box-sizing: border-box;
  transition: opacity 0.2s ease-in;
}

.card__image {
  height: 151px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: filter 0.2s ease-in;
}

.card__link:hover .card__image {
  filter: brightness(1.1);
}

.card__link:focus {
  outline: none;
  filter: drop-shadow(0 0 1px #FFFF)
}

.card__middleRow {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.card__button {
  border: none;
  background-color: #313131;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in;
}

.card__button:focus {
  outline: none;
  filter: drop-shadow(0 0 2px #FFFF);
  opacity: 1;

}

.card__button_invisible {
  opacity: 0;
}

.card:hover .card__button_invisible {
  opacity: 1;
}

.card__button:hover .card__button-image{
  transform: scale(1.2);
}

.card__button-image {
  transition: 0.2s ease-in;
}

.card__button-image_type_heart {
  filter: brightness(100);
}

.card__button-image_liked {
  filter: none;
}

.card__duration {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
}

.card__duration::before {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #AAAAAA;
  opacity: 0.2;
  margin-top: 29px;
  margin-bottom: 6px;
}

@media screen and (max-width: 1280px) {
  .card__image {
    height: calc((100vw - 200px) / (4 * 1.78));
  }
}

@media screen and (max-width: 1080px) {
  .card__image {
      height: calc((100vw - 180px) / (3 * 1.78));
  }
}

@media screen and (max-width: 850px) {
  .card__image {
    height: calc((100vw - 160px) / (2 * 1.78));
  }
}


@media screen and (max-width: 768px) {
  .card__image {
    height: calc((100vw - 140px) / (2 * 1.78));
  }
}


@media screen and (max-width: 520px) {
  .card__title {
    font-size: 12px;
    line-height: 15px;
  }
  .card__duration {
    font-size: 10px;
    line-height: 12px;
  }
  .card__image {
    height: calc((100vw - 20px) / 1.78);
  }
}
