.auth-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form__submit {
    margin-top: auto;
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background-color: #4285F4;
    border-radius: 3px;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 15px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}

.auth-form__submit:focus {
  filter: brightness(1.2);
  outline: none;
}

.auth-form__submit:enabled:hover {
    opacity: 0.8;
}

.auth-form__submit:disabled {
    filter: grayscale(1);
    cursor: default;
}

.auth-bottom {
    margin-bottom: 70px;
}

.auth-bottom__message {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

.auth-bottom__link {
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    text-decoration: none;
    transition: opacity 0.2s ease-in;
}

.auth-bottom__link:focus {
  outline: none;
  filter: drop-shadow(0 0 10px #FFFF);
}

.auth-bottom__link:hover {
    opacity: 0.8;
}


@media screen and (max-width: 768px) {
    .auth-bottom {
        margin-bottom: 232px;
    }
}

@media screen and (max-width: 520px) {
    .auth-bottom {
        margin-bottom: 30px;
    }

    .auth-bottom__message {
        font-size: 12px;
        line-height: 15px;
    }

    .auth-bottom__link {
        font-size: 12px;
        line-height: 15px;
    }

    .auth-form__submit {
        font-size: 12px;
        line-height: 15px;
    }
}
