.savedMovies {
  margin-top: 74px;
  width: calc(100% - 140px);
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: auto;
  margin-right: auto;
}

.savedMovies__nothing {
  font-size: 20px;
  color: #8B8B8B;
}

.movies__showAll {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #4285F4;
  font-size: 20px;
  cursor: pointer;
  display: inline;
  margin-left: 5px;
  transition: opacity 0.2s ease-in;
}

.movies__showAll:hover {
  opacity: 0.8;
}

.movies__showAll:focus {
  outline: none;
  filter: brightness(1.5);
}


@media screen and (max-width: 768px) {
  .savedMovies {
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 520px) {
  .savedMovies {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
  }
}
