.techs {
  background-color: #272727;
  padding: 100px 70px 100px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.techs__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin-top: 10px;
  margin-bottom: 22px;
}


.techs__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  margin: 0;
}


.techs__container {
  display: grid;
  width: 100%;
  max-width: 690px;
  grid-template-columns: repeat(auto-fill, minmax(84px, 90px));
  list-style: none;
  padding: 0;
  gap: 10px;
  justify-content: center;
  margin-top: 83px;
  margin-bottom: 0;
}

.techs__item {
  background-color: #303030;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px 90px 50px;
  }
  .techs__item {
    height: 57px;
    width: 84px;
  }
}



@media screen and (max-width: 520px) {
  .techs {
    background-color: #202020;
    padding: 70px 18px 70px 18px;
  }
  .techs__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
  }
  .techs__text {
    font-size: 11px;
    line-height: 16px;
  }
  .techs__container {
    margin-top: 50px;
  }
}
