.promo-screen {
  height: 598px;
}

.promo {
  height: 598px;
  width: 100%;
  background-color: hsl(198, 81%, 14%);
  margin: 0;
  position: fixed;
  z-index: -1;
  top: 0
}

.promo__logo {
  position: absolute;
  top: 158px;
  left: 50%;
  transform: translate(-50%, 0);

}

.promo__heading {
  padding-right: 10px;
  padding-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 258px;
  margin-bottom: 0;
}



@media  (max-width: 520px) {
  .promo-screen {
    height: 644px;
  }
  .promo {
    height: 644px;
  }
  .promo__heading {
    margin-top: 300px;
    font-size: 31px;
    line-height: 39px;
  }
  .promo__logo {
    top: 216px;
  }
}
